---
const { title } = Astro.props;
---

<button type="button" class="button">
  {title}
</button>

<style>
  .button {
    display: block;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: #2A233E;
    color: #FF7E33;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
  }
</style>

<script>
  const button = document.querySelector(".button");
  button.addEventListener('click',()=>{
    alert('クリックされました');
  })
</script>